*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;g

}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7) , rgba(4,9,30,0.7)),url(Img/pictest.png);
    background-position: center;
    background-size: cover ;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;

}
nav img{
width: 150px;

}
.nav-link {
    flex : 1;
    text-align: right;

}
.nav-link ul li {
    list-style: none;
    display: inline-block;
    padding : 8px 12px;
    position: relative;
}
.nav-link ul li a {
    color : white;
    text-decoration: none;
    font-style: 13px;
}
.nav-link ul li ::after {
    content: '';
    width: 0%;
    height: 2px;
    background: red;
    display: block;
    margin : auto;
    transition:  0,5s;
}
.nav-link ul li :hover::after  {
     width: 100%;

}
.text-box{
    width: 90%;
    color : white;
    position: absolute;
    top : 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1 {
    font-size : 62px;
}
.text-box p {
    margin: 10px 0px 40px;
    font-size:  14px;
    color: white;
}
.infobtn{
    display:  inline-block;
    text-decoration: none;
    color : #fff;
    border : 1px solid white;
    padding : 12px 34px;
    font-size: 13px;
    background: transparent;
    position : relative;

}
.infobtn:hover{
    border : 1px solid #f44336;
    background: #f44336 ;
    transition: 1s;
}
nav .fa{
    display:  none;
}
@media (max-width: 700px) {
    .text-box h1{
        font-size:   20px;
    }
    .nav-link ul li {
        display : block;
    }
    .nav-link {
        position: absolute;
        background: #f44336;
        height: 100vh;
        width:  200px;
        top : 0;
        right : -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display : block;
        color : white; 
        margin : 10px;
        font-size : 22px;
        cursor : pointer;
    }
    .nav-link ul {
        padding:  30px;

    }
    
}
.service {
    width: 80%;
    margin : auto;
    text-align: center;
    padding-top : 100px;
}
h1{
    font-size : 36px;
    font-weight: 600;
}
p{
    color : #777;
    font-size  : 14px;
    font-weight:  300;
    line-height : 22px;
    padding : 10px;
     
}
.row    {
    margin-top: 5%;
    
}
.the3{
    min-height: 100vh;
    width: 100%;
    background-image: url(https://www.bmw.vn/content/dam/bmw/common/all-models/3-series/sedan/2018/inspire/bmw-3series-3er-inspire-sp-xxl.jpg/jcr:content/renditions/cq5dam.resized.img.980.medium.time1627477249501.jpg);
    background-position: center;
    background-size: cover ;
    position: relative;
}
h1{
    font-size: 50px;
}
.the3Info {
    font-size: 25px;
    width: 90%;
    color : black;
    position: absolute;
    top : 65%;
    left: 30%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.the3InfoButton {

    display:  inline-block;
    text-decoration: none;
    color : #fff;
    
    border : 1px solid white;
    padding : 12px 34px;
    font-size: 13px;
    background: rgb(13, 48, 201);
    position : relative;
}
.the3InfoButton:hover{
    border : 1px solid #0813a76c;
    background: #1c03a8 ;
    transition: 1s;
}
.theX3{
    min-height: 100vh;
    width: 100%;
    background-image: url(https://www.bmw.vn/content/dam/bmw/common/home/teaser/bmw-x-series-x3-hometeaser-desktop.jpg/jcr:content/renditions/cq5dam.resized.img.980.medium.time1647856969513.jpg);
    background-position: center;
    background-size: cover ;
    position: relative;
}
.theX3Info {
    font-size: 15px;
    width: 90%;
    color : white;
    position: absolute;
    top : 30%;
    left: 15%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.theX3InfoButton {

    display:  inline-block;
    text-decoration: none;
    color : #fff;
    
    border : 1px solid white;
    padding : 12px 34px;
    font-size: 13px;
    background: none;
    position : relative;
}
.theX3InfoButton:hover{
    border : 2px solid wheat;
    opacity: 0.5;
    transition: 0.5s;
}
.theNew7{
    min-height: 100vh;
    width: 100%;
    background-image: url(https://www.bmw.vn/content/dam/bmw/common/home/teaser/bmw-7series-sedan-gklplus-teaser-desktop.jpg/jcr:content/renditions/cq5dam.resized.img.1680.large.time1547636126503.jpgttps://www.bmw.vn/content/dam/bmw/common/home/teaser/bmw-x-series-x3-hometeaser-desktop.jpg/jcr:content/renditions/cq5dam.resized.img.980.medium.time1647856969513.jpg);
    background-position: center;
    background-size: cover ;
    position: relative;
}
.theNew7Info {
    font-size: 15px;
    width: 90%;
    color : white;
    position: absolute;
    top : 30%;
    left: 15%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.theNew7InfoButton {

    display:  inline-block;
    text-decoration: none;
    color : #fff;
    
    border : 1px solid white;
    padding : 12px 34px;
    font-size: 13px;
    background: none;
    position : relative;
}
.theNew7InfoButton:hover{
    border : 2px solid wheat;
    opacity: 0.5;
    transition: 0.5s;
}



   